Add New Comment
<form action="/add_comments" method="POST">
  Subject: <input type="String" name="subject"></input><br/>
  Author: <input type="String" name="posted_by"></input><br/>
  Content: <textarea name="body" cols="40" rows="5"></textarea>
  <input type='submit' name='submit'></input>
</form>