<p>Subject: <%= @selected.subject %></p></br>
<p>Author: <%= @selected.posted_by %></p></br>
<p>Content: <%= @selected.body %></p></br>
<p>Post time: <%= @selected.created_at %></p></br>
<li><a href='/'>Go back</a>  </li>

